title: Yusuf Agus
email: yusuf.agus@eui.eu
description: >-
  Personal website of Yusuf Agus, PhD Candidate in Economics at the European University Institute (EUI). 
baseurl: ""
url: "https://yusufagus.github.io"
twitter_username: 
github_username: yusufagus
minimal_mistakes_skin: "air"

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.24.0"
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-gist

# Site Author
author:
  name: "Yusuf Agus"
  avatar: "/assets/images/profile_square.jpeg"
  location: "Florence, Italy"
  links:
    - label: "Email (EUI)"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:yusuf.agus@eui.eu"
    - label: "Email (Gmail)"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:yusufagus@gmail.com"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/yusuf-agu%C5%9F/"
    - label: "EUI Page"
      icon: "fas fa-fw fa-university"
      url: "https://www.eui.eu/people?id=yusuf-agus"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# Reading Files
include:
  - _pages
  - .htaccess
  - assets/css/override.css

# Exclude from processing
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp 

# Custom CSS override
sass:
  style: compressed
