.author__avatar img {
  width: 180px !important;
  height: 180px !important;
  max-width: 100% !important;
  border-radius: 50%;
}

.sidebar {
  width: 320px !important;
  min-width: 320px !important;
}

body {
  font-size: 90% !important;
}

html {
  font-size: 15px !important;
} 