#recent-posts, .recent-posts, .archive__subtitle {
  display: none !important;
}

body {
  font-size: 15% !important;
}

html {
  font-size: 10px !important;
}

.author__avatar img {
  width: 180px !important;
  height: 180px !important;
  max-width: 100% !important;
  border-radius: 50%;
}

.sidebar {
  width: 320px !important;
  min-width: 320px !important;
} 
